html{
    font-family: 'Oswald', sans-serif;
    
}

body {
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #10162c;
}

/* titulo */

h1{
    font-size: 4rem;
    text-align: center;
    color:#f4efe6;
}

/* índice */

.navegador{
    background: linear-gradient(90deg, #020024 0%, #093179 36%, #00d4ff 100%);
    border-bottom: 2px solid black; 
    }

.navegador__indice {
    max-width: 150rem;
    font-family: 'Oswald', sans-serif; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .navegador__indice a{
        font-size: 1rem;
        font-weight: bold;
        padding: 1rem;
        text-decoration: none;
        color: azure; 
    }

      .navegador__indice a:hover {
        background-color: #15cdca;
        color: black;
        border-radius: 10px; 
    }

    .navegador__indice a.active {
        background-color: #15cdca;
        color: black;
        border-radius: 10px; 
    }

/* Section SOBRE MI */

#sobre_mi{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    background-color: #f4efe6;
    padding: 20px;
    border-radius: 1rem;
}

#sobre_mi h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: underline;
}

#sobre_mi p{
    border: 3px solid black;
    border-radius: 1rem;
    padding: 20px;
    width: 50rem;
    text-align: center;
}

/* Section MIS TECNOLOGIAS FAVORITAS */

#mis_tecnologias_favoritas{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    background-color:#f4efe6;
    padding: 20px;
    border-radius: 8px;
}

#mis_tecnologias_favoritas h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.columnas{
    display: flex;
    flex-direction: row;
    column-count: 3;
    column-gap: 2rem;
    justify-content: center;
    
    }

/* Columna html */

.html:hover{
        transform: scale(1.15);
        opacity: 1; 
    }

.imghtml{
    width: 14rem;
    margin-top: 1rem;
    }

/* Columna photoshop */

.photoshop:hover{
    transform: scale(1.15);
    opacity: 1; 
}

.imgps{
    width: 12rem;
    margin-top: 2rem;
    margin-left: 0.8rem;
}

/* Columna javascript */

.javascript:hover{
    transform: scale(1.15);
    opacity: 1; 
}

.imgjs{
    width: 14rem;
    margin-top: 1rem;
}

/* Section MIS ACTIVIDADES FAVORITAS */

#mis_actividades_favoritas h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

#mis_actividades_favoritas {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #f4efe6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

input {
    width: 70%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

.botonactividades{
    display: flex;
}

.pie{
    text-align: center;
}

